@import url('../../shared/styles/colors.css');

@media (width >= 1281px) and (orientation: landscape) {
  header {
    position: absolute;
    display: block;
    float: left;
    margin: 0;
    top: 8%;
    margin-left: 7%;
  }

  .header-option {
    font-family: Barlow, sans-serif;
    font-size: 2.8vh;
    margin-left: 5vh;
    color: var(--color-links);
  }

  .header-option:first-child {
    font-family: Barlow, sans-serif;
    margin-left: 0;
    cursor: default;
    border-bottom: solid 3px var(--color-primary);
    color: var(--color-primary);
  }

  .header-option:hover {
    color: var(--color-hover);
    transition: ease-in 0.2s;
  }
}

/* Dimensionamento Responsivo - Mobile */
@media (width <= 1280px) {
  header {
    background: var(--color-primary);
    display: block;
    position: absolute;
    margin: 1vh 0 0 -23vh;
    z-index: 2;
  }

  .header-option {
    font-family: Barlow, sans-serif;
    font-size: 1.8vh;
    margin-left: 2vh;
    color: var(--color-links);
  }

  .header-option:hover {
    color: #fff;
    transition: ease-in 0.2s;
  }

  .header-option:first-child {
    font-family: Barlow, sans-serif;
    color: #000;
    margin-left: 6vh;
    border-bottom: solid 1px #000;
    cursor: default;
  }

  .header-option:first-child:hover {
    color: #000;
    cursor: default;
  }
}
