@import url('../../shared/styles/colors.css');

.titles {
    text-align: center;
    padding: 10px;
    border-top: 10px;
    margin-top: 50px;
    margin: 3em 0em 0em 0em;
}

/* Dimensionamento Responsivo - Mobile */
@media (max-width: 1280px) {
    .badges {
        display: grid;
        grid: repeat(2, 60px) / auto-flow;
        margin: 6% 15% 0 15%;
        text-align: center;
        align-items: center;
    }
}

/*Dimensionamento - Padrão*/
@media (min-width: 1281px) and (orientation: landscape) {
    .badges {
        display: grid;
        grid: repeat(1, 60px) / auto-flow 80px;
        text-align: center;
        align-items: center;
        margin-top: 10px;
    }
}
