:root {
  --color-primary: #d9d9d9;
  --color-secondary: #fff;
  --color-gradient: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-primary)
  );
  --color-hover: #464343;
  --color-links: #000;
  --color-shadow: hsla(0% 0% 0% 20%) 0px 4px 12px;
}
